<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            RABI VARIETIES
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">CONSUMTION YEAR
                          </label>
                        <div class="controls">
                          <div class="input-group">
                              <select class="form-control" id="ccyear">
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">DP LETTER NO & DATE
                          </label>
                        <div class="controls">
                          <div class="input-group">
                              <select class="form-control" id="ccyear">
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">TENDER COST (IN RS)
                          </label>
                        <div class="controls">
                          <div class="input-group">
                             <input type="text" class="form-control">
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">RFP NUMBER & DATE
                        </label>
                      <div class="controls">
                        <div class="input-group">
                            <input type="text" class="form-control">
                          <!-- <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search!</button>
                          </span> -->
                        </div>
                      </div>
                    </div>
               </div>
               <div class="col-sm-6">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">CHAIRMAN PC
                        </label>
                      <div class="controls">
                        <div class="input-group" >
                            <input type="text" class="form-control">
                          <!-- <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search!</button>
                          </span> -->
                        </div>
                      </div>
                    </div>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="row">
    
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> CRITICAL DATE SHEET

                  </div>
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>SCHEDULE</th>
                          <th>DATE
                          </th>
                          <th>TIME</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Published, Bid Document Download and Bid Submission Commencement Date
                            </td>
                          <td>
                            <input type="text">
                            </td>
                            <td>
                                <input type="text">
                                </td>
                         
                        </tr>
                        <tr>
                          <td>Clarification Start Date
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>
                         
                        </tr>
                        <tr>
                          <td>Clarification End Date
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>
                         
                        </tr>
                        <tr>
                          <td>Pre Bid Meeting
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>
                          
                        </tr>
                        <tr>
                          <td>Bid Submission End Date (Online)
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>
                        
                        </tr>
                        <tr>
                          <td>Physical Documents (as per Para 29(a) and 4 of RFP) Submission End Date
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>

                        </tr>
                        <tr>
                          <td>Bid Opening Start after (Online)
                            </td>
                            <td>
                                <input type="text">
                                </td>
                                <td>
                                    <input type="text">
                                    </td>
                        </tr>
                      </tbody>
                     
                    </table>
                    
                  </div>
                  <div class="card-footer" style="text-align: right;">
                      <button class="btn btn-secondary btn-success" type="button">View</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <!--/.col-->
     
      <!--/.col-->
    </div>
    <!--/.row-->
   
    <!--/.row-->
   
    <!--/.row-->
  </div>


