<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          RABI VARIETIES
        </div>
        <div class="card-body">
          <h6>  DAL CHANA (DFS No 45D VETTED ON 09 JUN 2017).
          </h6>
          <h6>
            DAL ARHAR (DFS No 44D VETTED ON 09 JUN 2017).
          </h6>
          <h6>DAL MASUR (DFS No 47C VETTED ON 09 JUN 2017).</h6>
          <h6>MASUR WHOLE (DFS No 113D VETTED ON 09 JUN 2017).</h6>
          <h6>KABLI CHANA (DFS No 97B VETTED ON 09 JUN 2017).
          </h6>
          <h6>PEAS DRIED GREEN (DFS No 146D VETTED ON 09 JUN 2017).</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          KHARIF VARIETIES
        </div>
        <div class="card-body">
          <h6>  DAL MOONG (DFS No 46E VETTED ON 09 JUN 2017).
          </h6>
          <h6>MOONG WHOLE (DFS No 125C VETTED ON 09 JUN 2017).</h6>
          <h6>MOONG DHULI (DFS No 46D VETTED ON 09 JUN 2017).</h6>
          <h6>DAL URD (DFS No 48F VETTED ON 09 JUN 2017).
          </h6>
          <h6>URD WHOLE (DFS No 192C VETTED ON 09 JUN 2017).</h6>
          <h6>URD DHULI (DFS No 48G VETTED ON 09 JUN 2017).</h6>
          <h6>RAJMAH (DFS No 14B VETTED ON 09 JUN 2017).</h6>
          <h6>LOBIA (DFS No 106C VETTED ON 09 JUN 2017).</h6>
        </div>
      </div>
    </div>
    <!--/.col-->
   
    <!--/.col-->
  </div>
  <!--/.row-->
 
  <!--/.row-->
 
  <!--/.row-->
</div>
