<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
              RELEASE/FORFEIT OF EMD

          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">CONSUMPTION YEAR


                          </label>
                        <div class="controls">
                          <div class="input-group">
                              <select class="form-control" id="ccyear">
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">RFP NUMBER & DATE

                          </label>
                        <div class="controls">
                          <div class="input-group">
                              <select class="form-control" id="ccyear">
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedInputButton">FDR/ BG NUMBER


                          </label>
                        <div class="controls">
                          <div class="input-group">
                              <select class="form-control" id="ccyear">
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                            <!-- <span class="input-group-append">
                              <button class="btn btn-secondary" type="button">Search!</button>
                            </span> -->
                          </div>
                        </div>
                      </div>
                 </div>
                 
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">EMD AMOUNT


                        </label>
                      <div class="controls">
                        <div class="input-group">
                            <select class="form-control" id="ccyear">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                              </select>
                          <!-- <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search!</button>
                          </span> -->
                        </div>
                      </div>
                    </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">RELEASE/ FORFEIT


                        </label>
                      <div class="controls">
                        <div class="input-group">
                            <select class="form-control" id="ccyear">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                              </select>
                          <!-- <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search!</button>
                          </span> -->
                        </div>
                      </div>
                    </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">DATE OF RELEASED/ FORFEIT


                        </label>
                      <div class="controls">
                        <div class="input-group">
                            <select class="form-control" id="ccyear">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                              </select>
                          <!-- <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Search!</button>
                          </span> -->
                        </div>
                      </div>
                    </div>
               </div>
               
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="appendedInputButton">REASON FOR RELEASE



                      </label>
                    <div class="controls">
                      <div class="input-group">
                          <select class="form-control" id="ccyear">
                              <option>2014</option>
                              <option>2015</option>
                              <option>2016</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                              <option>2020</option>
                              <option>2021</option>
                              <option>2022</option>
                              <option>2023</option>
                              <option>2024</option>
                              <option>2025</option>
                            </select>
                        <!-- <span class="input-group-append">
                          <button class="btn btn-secondary" type="button">Search!</button>
                        </span> -->
                      </div>
                    </div>
                  </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="appendedInputButton">REASON FOR FORFEITURE



                      </label>
                    <div class="controls">
                      <div class="input-group">
                          <select class="form-control" id="ccyear">
                              <option>2014</option>
                              <option>2015</option>
                              <option>2016</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                              <option>2020</option>
                              <option>2021</option>
                              <option>2022</option>
                              <option>2023</option>
                              <option>2024</option>
                              <option>2025</option>
                            </select>
                        <!-- <span class="input-group-append">
                          <button class="btn btn-secondary" type="button">Search!</button>
                        </span> -->
                      </div>
                    </div>
                  </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="appendedInputButton">

                      </label>
                    <div class="controls">
                      <div class="input-group">
                          
                      
                          <button class="btn btn-secondary btn-success" type="button">Update</button>
                     
                      </div>
                    </div>
                  </div>
             </div>
      </div>

          </div>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="row">
    
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> GENERATE LETTERS



                  </div>
                  <div class="card-body">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="col-form-label" for="appendedInputButton">
          
                                </label>
                              <div class="controls">
                                <div class="input-group">
                                    
                                
                                    <button style="width: 100%;" class="btn btn-secondary btn-success" type="button">Release of EMD
                                      </button>
                               
                                </div>
                              </div>
                            </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="form-group">
                              <label class="col-form-label" for="appendedInputButton">
          
                                </label>
                              <div class="controls">
                                <div class="input-group">
                                    
                                
                                    <button style="width: 100%;" class="btn btn-secondary btn-success" type="button">Forfeit of EMD
                                      </button>
                               
                                </div>
                              </div>
                            </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="form-group">
                              <label class="col-form-label" for="appendedInputButton">
          
                                </label>
                              <div class="controls">
                                <div class="input-group">
                                    
                                
                                    <button style="width: 100%;" class="btn btn-secondary btn-success" type="button">RBI Challan
                                      </button>
                               
                                </div>
                              </div>
                            </div>
                       </div>
                  </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
      </div>
      <!--/.col-->
     
      <!--/.col-->
    </div>
    <!--/.row-->
   
    <!--/.row-->
   
    <!--/.row-->
  </div>
