<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          REPORTS & RETURNS
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label class="col-form-label" for="appendedInputButton">CONSUMPTION YEAR



                        </label>
                      <div class="controls">
                        <div class="input-group">
                            <select class="form-control" id="ccyear">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                              </select>
                        </div>
                      </div>
                    </div>
               </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="appendedInputButton">APO SECTION




                      </label>
                    <div class="controls">
                      <div class="input-group">
                          <select class="form-control" id="ccyear">
                              <option>2014</option>
                              <option>2015</option>
                              <option>2016</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                              <option>2020</option>
                              <option>2021</option>
                              <option>2022</option>
                              <option>2023</option>
                              <option>2024</option>
                              <option>2025</option>
                            </select>
                      </div>
                    </div>
                  </div>
             </div>
             <div class="col-sm-4">
              <div class="form-group">
                  <label class="col-form-label" for="appendedInputButton">TYPE OF FIRM




                    </label>
                  <div class="controls">
                    <div class="input-group">
                        <select class="form-control" id="ccyear">
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                          </select>
                    </div>
                  </div>
                </div>
           </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
              <div class="form-group">
                  <label class="col-form-label" for="appendedInputButton">NAME OF THE FIRM




                    </label>
                  <div class="controls">
                    <div class="input-group">
                        <select class="form-control" id="ccyear">
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                          </select>
                    </div>
                  </div>
                </div>
           </div>
           <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-label" for="appendedInputButton">ITEM




                  </label>
                <div class="controls">
                  <div class="input-group">
                   <input type=" text" class="form-control">
                  </div>
                </div>
              </div>
         </div>
       
         <div class="col-sm-4">
          <div class="form-group">
              <label class="col-form-label" for="appendedInputButton">
                </label>
              <div class="controls">
                <button class="form-control btn btn-success">Print</button>
                <!-- <div class="input-group">
                 <input type=" text" class="form-control">
                </div> -->
              </div>
            </div>
       </div>
    
        </div>
      </div>
    </div>
  </div>
</div>
</div>