<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> <label class="h5">List of RFP</label>
          </div>
          <div class="card-body">
  
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="h5" for="RoleName">CONSUMTION YEAR (CY) <span style="color:red">*</span></label>
                  <select class="form-control" id="ccyear">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <label></label>
                <button type="button" class="btn btn-block btn-info">Search</button>
              </div>
            </div>
  
            <br>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>S/No</th>
  
                      <th>RFP No. & Date</th>
                      <th>CY </th>
                      <th>Qty
                        (In MT)
                      </th>
                      <th>Status</th>
  
                      <th>View Download RFP</th>
                     
                      <th>Verify</th>
  
                    </tr>
  
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
  
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
  
                      <td>
                        <i style="color: red;font-size: 22px" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      </td>
                      
                      <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span> |
                        </span><i style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
  
                    </tr>
                    <tr>
                      <td>2</td>
  
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
  
                      <td>
                        <i style="color: red;font-size: 22px" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      </td>
                      
                      <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span> |
                        </span><i style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
  
                    </tr>
                    <tr>
                      <td>1</td>
  
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
  
                      <td>
                        <i style="color: red;font-size: 22px" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      </td>
                      
                      <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span> |
                        </span><i style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
  
                    </tr>
                  </tbody>
                </table>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
      .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  </style>