<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">View DP</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-header">
          <!-- <label class="h4" style="padding-left: 24%; color: RED;text-decoration: underline;">
            DELIVERY PERIOD FOR PROCUREMENT OF 2500 MT PULSES

          </label>
          <label class="h4" style="padding-left: 31%; color: RED;text-decoration: underline;">
            FOR THE CONSUMPTION YEAR 2017-18</label> -->
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2">S/No</th>
                    <th rowspan="2">Delivery Period</th>
                    <th rowspan="2">Acct Unit</th>
                    <th rowspan="2">Qty(In MT)</th>
                    <th rowspan="2">EMD Amount (In Rs) </th>
                    <th colspan="2">Qty Required in Bags for AWS</th>
                    <th rowspan="2">Approved </th>


                  </tr>
                  <tr>
                    <th>
                      In 20 Kgs

                    </th>
                    <th>
                      In 50 Kgs

                    </th>

                  </tr>
                </thead>
                <tbody>


                  <tr>
                    <td>1</td>
                    <td colspan="6">
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td colspan="6">
                              <label class="h5" for="Chana">Chana Daal </label>

                            </td>
                          </tr>
                          <tr>
                            <td style="width:18% "> <label>01 Apr to 30 Apr 2017
                              </label> </td>
                            <td style="width:13% "> <label>MT
                              </label> </td>
                            <td style="width:14% "> <label>700</label></td>
                            <td> <label></label> </td>
                            <td> <label></label> </td>
                            <td> <label></label> </td>
                            
                          </tr>
                          <tr>
                            <td> <label>01 Apr to 30 Apr 2017
                              </label> </td>
                            <td> <label>MT
                              </label> </td>
                            <td> <label>700</label></td>
                            <td> <label></label> </td>
                            <td> <label></label> </td>
                            <td> <label></label> </td>
                         
                        </tbody>
                      </table>

                    </td>
                    <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--/.row-->



</div>

<style>
  .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
</style>