<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Approved Item For User</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
        
         <br>
          <div class="row">
              <div class="col-sm-12">
               <table class="table table-bordered table-striped">
                 <thead>
                   <tr>
                     <th rowspan="2" >S/No</th>
                   
                     <th rowspan="2">Item Name</th>
                     <th rowspan="2">Item Type </th>
                     <th rowspan="2">Item For User </th>
                     <th colspan="2">Verify</th>       
                   </tr>
                  
                 </thead>
                 <tbody>                  
                   <tr>
                     <td>1</td>               
                     <td>Chana Daal</td>
                     <td>Daal</td>
                     <td>Purchase 1</td>
                     <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                   </tr>
                   <tr>
                    <td>2</td>               
                    <td>Masur Daal</td>
                    <td>Daal</td>
                    <td>Purchase 1</td>
                    <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                  </tr>
                 </tbody>
               </table>
               <ul class="pagination">
                   <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                   <li class="page-item active">
                     <a class="page-link" href="#">1</a>
                   </li>
                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item"><a class="page-link" href="#">4</a></li>
                   <li class="page-item"><a class="page-link" href="#">Next</a></li>
                 </ul>
              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
   </style>
 