<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
        <div class="card-header">
  
          <div class="card-body">
            
              <div class="row">
  
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-header">
                        <i class="fa fa-align-justify"></i> <label  class="h5">Approve User Details</label>
                      </div>
                      <div class="card-body">
                   <div class="row">
                     <div class="col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>S/No</th>
                                <th>User Name </th>
                                <th>User Type</th>
                                <th>Role
                                </th>
                                <th>Email Id
                                </th>
                                <th>Mobile No
                                  </th>
                                  <th>Verify</th>
                              </tr>
                            </thead>
                            <tbody>
                         <tr>
                           <td>1</td>
                           <td>Test User</td>
                           <td>Purchaser</td>
                           <td>User</td>
                           <td>Test@gmail.com</td>
                           <td>0000000000</td>
                           <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>Test User</td>
                            <td>Purchaser</td>
                            <td>User</td>
                            <td>Test@gmail.com</td>
                            <td>0000000000</td>
                            <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Test User</td>
                              <td>Purchaser</td>
                              <td>User</td>
                              <td>Test@gmail.com</td>
                              <td>0000000000</td>
                              <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span>  |  </span><i  style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                            </tr>
                            </tbody>
                          </table>
                     </div>
                   </div>
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>   
            </div>
    </div>
  </div>
  </div>
<!--/.row-->
</div>

<style>

.h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
 </style>
