<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">View Indents </label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
       
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>S/No</th>
                    <th >Indent No & Date </th>
                    <th>Consumtion Year </th>
                    <th >Acc Unit </th>
                    <th >Sanctioned Qty</th>
                    <th>Estimated Rate Per Acct Unit </th>
                    <th>Download Indent</th>
                    <!-- <th>Verify</th>
                    <th>Action</th> -->
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Indent_0001  & 02/02/2019</td>
                    <td>2018</td>
                    <td>250 MT</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td>Send OIC Admin</td>
                    <td>Edit/ Delete</td> -->
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Indent_0002  & 02/02/2019</td>
                      <td>2018</td>
                      <td>250 MT</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <!-- <td>Send OIC Admin</td>
                      <td>Edit/ Delete</td> -->
                    </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

.h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
</style>
