<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> <label class="h5">Add Category Details</label>
  
          </div>
          <div class="card-body">
              <div class="shadow-lg p-3 mb-5 bg-white rounded" id="cardhide4">
           <div class="row">
              <div class="col-12"><label class="lblHeading">Add Category</label></div>
            
            </div>
            <br>
            <div class="row">
           
            </div>
            <div class="row">
              <div class="col-6">
                 <div class="form-group">
                  <label class="h5"  >Category Name </label>
                  <input type="hidden"  [(ngModel)]="categoryId" >
                  <input type="text"   [(ngModel)]="categoryName"  class="form-control" 
                  placeholder="Enter Category Name ">
                                 </div>
              </div>
              <div class="col-2" style="margin-top: 0.5%" >
                <label></label>
                <button type="button" *ngIf="add" (click)="addCategoryModel()"  class="btn btn-block btn-success">Add </button>
                <button type="button" *ngIf="update" (click)="updateCategoryModel()"  class="btn btn-block btn-success">Update </button>
              </div>
              <div class="col-sm-2" style="margin-top: 0.5%"  >
                <label></label>
                <button (click)="clearModel()" type="button" class="btn btn-block btn-warning">Reset</button>
              </div>
              </div>
            <br>
           
  
           
            <br>
            <div class="row">
              <div class="col-sm-12">
               <table class="table table-bordered table-striped">
                 <thead>
                   <tr>
                     <th rowspan="2" >S/No</th>
                   
                     <th rowspan="2">Category Name</th>                     
                     <th rowspan="2">Actions </th>
                   </tr>
                  
                 </thead>
                 <tbody>                                     
                 
                  <tr *ngFor="let sub of data">
                    <td>{{sub.$id}}</td>
                    <td>{{sub.categoryName}}</td>                    
                    <td><i style="color: #167495;font-size: 23px;" class="fa fa-pencil-square-o"
                       aria-hidden="true"   (click)="editCategoryMaster(sub.categoryId)"   ></i> <span>|</span> 
                        <i style="color: red;font-size: 22px" (click)="removeCategoryMaster(sub.categoryId)"  class="fa fa-trash-o" aria-hidden="true"></i> </td>
                  </tr>
                 </tbody>
               </table>
              
              </div>
              </div>
  
  
         
    
          </div>
        </div>
        </div>
      </div>
    </div>
  </div> 
 
  <style>
    .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  </style>