<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Change Password</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="h5" for="ItemName">Current Password<span style="color:red">*</span></label>
                <input type="password" class="form-control" 
                
                [(ngModel)]="currentPass" placeholder="Enter Current Password ">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label class="h5" for="ItemType">New Password<span style="color:red">*</span></label>
                <input [(ngModel)]="newPass" type="password" class="form-control" id="ItemType" placeholder="Enter New Password">
              </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                  <label class="h5" for="ItemType">Confirm Password<span style="color:red">*</span></label>
                  <input [(ngModel)]="confirmPass" type="password" class="form-control" id="ItemType" placeholder="Enter Confirm Password">
                </div>
              </div>
           
          </div>
          <div class="row">
            <div class="col-sm-2">
            <label></label>
            <button (click)="changePassword()" type="button" class="btn btn-block btn-success">Change</button>
          </div>
          <div class="col-sm-2" >
            <label></label>
            <button (click)="clearModel()" type="button" class="btn btn-block btn-warning">Reset</button>
          </div>
         </div>
         <br>
       
        </div>
      </div>
    </div>
  </div>
</div>
<style>

    .h5{
       font-weight: bold;
     font-size: 15px;
     }
   </style>
 