<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Add & Edit Roles </label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="h5" for="RoleName">Role Name   <span style="color:red">*</span></label>
                <input type="text" class="form-control" 
                
                id="RoleName" placeholder="Enter Role Name ">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="h5" for="DPLetter">Role Type   <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="RoleType" placeholder="Enter Role Type">
              </div>
            </div>
            <div class="col-sm-2" style=" padding-top: 0.5%;">
              <label></label>
              <button type="button" class="btn btn-block btn-success">Add</button>
            </div>
            <div class="col-sm-2" style=" padding-top: 0.5%;">
              <label></label>
              <button type="button" class="btn btn-block btn-warning">Reset</button>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
               <table class="table table-bordered table-striped">
                 <thead>
                   <tr>
                     <th rowspan="2" >S/No</th>
                   
                     <th rowspan="2">Role Name</th>
                     <th rowspan="2">Role Type </th>
                     <th colspan="2">Action</th>       
                   </tr>
                  
                 </thead>
                 <tbody>                  
                   <tr>
                     <td>1</td>               
                     <td>Tset Name</td>
                     <td>Test Type</td>
                     <td>Edit/ Delete</td>
                   </tr>
                 </tbody>
               </table>
               <ul class="pagination">
                   <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                   <li class="page-item active">
                     <a class="page-link" href="#">1</a>
                   </li>
                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item"><a class="page-link" href="#">4</a></li>
                   <li class="page-item"><a class="page-link" href="#">Next</a></li>
                 </ul>
              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

    .h5{
       font-weight: bold;
     font-size: 15px;
     }
   </style>
 