<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Change Password</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
            <div class="shadow-lg p-3 mb-5 bg-white rounded" id="cardhide4">
          <div class="row">
            <div class="col-sm-12">
             <table class="table table-bordered table-striped">
               <thead>
                 <tr>
                   <th rowspan="2">UserName</th>
                   <th rowspan="2">Message</th>
                   <!-- <th rowspan="2">Action</th> -->
                 </tr>
                
               </thead>
               <tbody>                  
                 <tr *ngFor="let sub of data">
                   <td>{{sub.userName}}</td>               
                   <td>{{sub.message}}</td>
                   <!-- <td>

                    <input type="button" class="btn btn-link"  value="Reset Password" (click)="resetPassword(sub.id)">
                   </td> -->
                   
                   <!-- <td><i style="color: #167495;font-size: 23px;" class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>|</span>  <i style="color: red;font-size: 22px" class="fa fa-trash-o" aria-hidden="true"></i> </td> -->
                 </tr>
               </tbody>
             </table>
             <ul class="pagination">
                 <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                 <li class="page-item active">
                   <a class="page-link" href="#">1</a>
                 </li>
                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                 <li class="page-item"><a class="page-link" href="#">4</a></li>
                 <li class="page-item"><a class="page-link" href="#">Next</a></li>
               </ul>
            </div>
            </div>
        </div>
        <!-- <div class="card-body">
            <div class="input-group" >
                <select [(ngModel)]="userName"  class="form-control" id="ItemForUser" multiple>
                    <option *ngFor="let role of data"  value="{{role.userName}}">{{role.userName}}</option>
                  </select>
          
            </div>
         <br>
       
        </div> -->
      </div>
      </div>
    </div>
  </div>
</div>
<style>

    .h5{
       font-weight: bold;
     font-size: 15px;
     }
   </style>
 