<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Supply Position</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
            <div class="shadow-lg p-3 mb-5 bg-white rounded" id="cardhide4">
            <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="h5" for="RoleName">CONSUMTION YEAR (CY) <span style="color:red">*</span></label>
                    <select class="form-control" id="ccyear">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label class="h5" for="RoleName">RFP No. & Date <span style="color:red">*</span></label>
                      <select class="form-control" id="ccyear">
                        <option>RFP_2014</option>
                        <option>RFP_2015</option>
                        
                      </select>
                    </div>
                  </div>
                <div class="col-sm-2">
                  <label></label>
                  <button type="button" class="btn btn-block btn-info">Get Excel  Document</button>
                </div>
              </div>
         <br>
          <!-- <div class="row">
              <div class="col-sm-12">
               <table class="table table-bordered table-striped">
                 <thead>
                   <tr>
                     <th rowspan="2" >S/No</th>                   
                     <th rowspan="2">Namae Of Firm</th>
                     <th rowspan="2">Accept/Reject </th>
                     <th rowspan="2">Remarks </th>                  
                   </tr>                  
                 </thead>
                 <tbody>                  
                   <tr>
                     <td>1</td>               
                     <td>Test Firm 1</td>
                     <td>
                        <select class="form-control" id="Accept">
                            <option>Accepted</option>
                            <option>Rejected</option>
                          </select>
                     </td>
                     <td> <input type="text"  class="form-control" id="Remarks" name="Remarks"> </td>
                   </tr>
                   <tr>
                      <td>2</td>               
                      <td>Test Firm 1</td>
                      <td>
                         <select class="form-control" id="Accept">
                             <option>Accepted</option>
                             <option>Rejected</option>
                           </select>
 
                      </td>
                      <td> <input type="text"  class="form-control" id="Remarks" name="Remarks"> </td>
 
                    </tr>
                    <tr>
                        <td>3</td>               
                        <td>Test Firm 1</td>
                        <td>
                           <select class="form-control" id="Accept">
                               <option>Accepted</option>
                               <option>Rejected</option>
                             </select>
                        </td>
                        <td> <input type="text"  class="form-control" id="Remarks" name="Remarks"> </td>
                      </tr>
                 </tbody>              
               </table>
               <div class="row">
                 <div class="col-sm-10"></div>
                  <div class=" col-sm-2 pull-right">
                      <label></label>
                      <button type="button" class="btn btn-block btn-success">Update</button>
                    </div>
               </div>
               <br>
               <ul class="pagination">
                   <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                   <li class="page-item active">
                     <a class="page-link" href="#">1</a>
                   </li>
                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item"><a class="page-link" href="#">4</a></li>
                   <li class="page-item"><a class="page-link" href="#">Next</a></li>
                 </ul>
              </div>
              </div> -->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<style>
 .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
   </style>
 