<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">View & Update DP Extentions</label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
            <div class="shadow-lg p-3 mb-5 bg-white rounded" id="cardhide4">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><b>Item </b></td>
                    <td>{{data.itemName}}</td>
                    <td><b>Name of Firm
                    </b></td>
                    <td>{{data.nameOfFirm}}</td>
                    <td><b>AT Note No & Dated
                    </b></td>
                    <td> {{data.atNoteNo}} <b>,</b> {{data.atNoteDate}}</td>
                  </tr>
                  <tr>
                    <td><b>Original DP
                    </b></td>
                    <td>{{data.deliveryPdFromDate}} <b>To</b> {{data.deliveryPdToDate}}</td>
                    <td><b>Auto Extn DP, If any
                    </b></td>
                    <td></td>
                    <td><b>Qty Bal
                    </b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <input type="hidden" [(ngModel)]="atnoteId">
                    <td><b>Proposed 1st DP Extn Pd
                    </b></td>
                    <td>
                      <input type="date" [(ngModel)]="fstDPExtnStart" class="form-control"><br> <input [(ngModel)]="fstDPExtnEnd" type="date" class="form-control">
                    </td>
                    <td><b>1st Extn Validity of PBG <br> (From Date)  & <br> <br> (To Date)
                    </b></td>
                    <td> <input type="date" [(ngModel)]="fstExtnPBGStart" class="form-control"><br> <input [(ngModel)]="fstExtnPBGEnd" type="date" class="form-control"> </td>
                    <td><b>1st DP Extn Letter
                    </b></td>
                    <td><input type="file" class="form-control"></td>
                  </tr>
                  <tr>
                    <td><b>Proposed 2st DP Extn Pd
                    </b></td>
                    <td>
                      <input type="date" [(ngModel)]="stDPExtnStart" class="form-control"><br> <input [(ngModel)]="stDPExtnEnd" type="date" class="form-control">
                    </td>
                    <td><b>2st Extn Validity of PBG <br> (From Date)  & <br> <br> (To Date)
                    </b></td>
                    <td> <input type="date" [(ngModel)]="stExtnPBGStart" class="form-control"><br> <input [(ngModel)]="stExtnPBGEnd" type="date" class="form-control"> </td>
                    <td><b>2st DP Extn Letter
                    </b></td>
                    <td><input type="file" class="form-control"></td>
                  </tr>
                  <tr>
                    <td><b>Proposed 3st DP Extn Pd
                    </b></td>
                    <td>
                      <input type="date" [(ngModel)]="trDPExtnStart" class="form-control"><br> <input [(ngModel)]="trDPExtnEnd" type="date" class="form-control">
                    </td>
                    <td><b>3st Extn Validity of PBG <br> (From Date)  & <br> <br> (To Date)
                    </b></td>
                    <td> <input type="date" [(ngModel)]="trDPExtnPBGStart" class="form-control"><br> <input [(ngModel)]="trDPExtnPBGEnd" type="date" class="form-control"> </td>
                    <td><b>3st DP Extn Letter
                    </b></td>
                    <td><input type="file" class="form-control"></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-10"></div>
                  <div class="col-sm-2">
                      <label></label>
                      <button type="button" class="btn btn-block btn-success" (click)="updateDPExtention()">Update </button>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<style>
  .h5 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
</style>