<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <label class="h5">Add EMD </label>
          <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
            <div class="shadow-lg p-3 mb-5 bg-white rounded" id="cardhide4">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="h5" for="ItemName">RFP No & Date <span style="color:red">*</span></label>
                <select class="form-control">
                  <option>RFP_001</option>
                  <option>RFP_001</option>
                  <option>RFP_001</option>
                  <option>RFP_001</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="h5" for="ItemName">Name Of Firm <span style="color:red">*</span></label>
                <select class="form-control">
                  <option>Firm 1</option>
                  <option>Firm_001</option>
                  <option>Firm_001</option>
                  <option>Firm_001</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="h5" for="User">Tender Fee </label>
                <select class="form-control" id="ItemForUser">
                  <option>Yes</option>
                  <option>NA</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="h5" for="User">Type Of Firm </label>
                <select class="form-control" id="ItemForUser">
                  <option>Register</option>
                  <option>Not Register</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-2">
              <div class="form-group">
                <label class="h5" for="User">EMD Applicable </label>
                <select class="form-control" id="ItemForUser">
                  <option>Yes</option>
                  <option>NA</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="h5" for="User">EMD Amount Recd
                </label>
                <input type="text" class="form-control" placeholder="Enter EMD Amount Recd">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="h5" for="User">FDR/ BG NUMBER

                </label>
                <input type="text" class="form-control" placeholder="Enter FDR/ BG NUMBER ">
              </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                  <label class="h5" for="User">Validity (From)
  
                  </label>
                  <input type="date" class="form-control" placeholder="Enter FDR/ BG NUMBER ">
                </div>
              </div>
              <div class="col-sm-2">
                  <div class="form-group">
                    <label class="h5" for="User">(To)
    
                    </label>
                    <input type="date" class="form-control" placeholder="Enter FDR/ BG NUMBER ">
                  </div>
                </div>           
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label></label>
              <button type="button" class="btn btn-block btn-success">Add</button>
            </div>
            <div class="col-sm-2">
              <label></label>
              <button type="button" class="btn btn-block btn-warning">Reset</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th >S/No</th>
                   <th>RFP No & Date </th>
                   <th>Name Of Firm</th>
                   <th>Tender Fee</th>
                   <th>Type Of Firm</th>
                   <th>EMD Applicable</th>
                   <th>EMD Amount Recd</th>
                   <th> 
                      EMD Amount Recd
                      FDR/ BG NUMBER</th>
                   <th>Validity</th>
                   <th>Actions</th>
                   <th>Varify</th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td><i style="color: #167495;font-size: 23px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <span>|</span> <i style="color: red;font-size: 22px" class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>

                    <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span> |
                      </span><i style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td><i style="color: #167495;font-size: 23px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <span>|</span> <i style="color: red;font-size: 22px" class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                    <td><i style="color:#00c851;font-size: 20px" class="fa fa-check" aria-hidden="true"></i> <span> |
                      </span><i style="color: #ff4444;font-size: 20px" class="fa fa-times" aria-hidden="true"></i> </td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<style>
.h5 {
      font-size:18px;
      font-weight: 600;
      font-style: italic;
    }
  
    .lblHeading {
      font-size: 23px;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
    }
    .table th
    {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  .DateColW {
      width: 32%;
    }

</style>